* {
    font-family: 'Josefin Sans', sans-serif;
}


body{
    background-color: #252324;
    box-sizing: border-box;
    margin: 0;
}



/* ------------NAV BAR------------- */

.header{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    background-color:#000000 ;
}
.logoimg{
    width: 100%;
}
.logoimg:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
.logo{
    /* display: inline; */
    width: 7%;
    padding: 0.5% 0;
}
.nav{
    display: flex;
    align-items: center;
    width: 55%;
}
.navul{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}
.navli{
    margin: 0 2%;
    list-style: none; 
    padding: 1.5% 1%;
    height: 100%;
    display: flex;
    align-items: center;
    /* border-radius: 20%; */
    transform: skewX(25deg);
    transition: .3s;
}
.navul a{
    display: flex;
    align-items: center;
    height:130%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    font-weight: bolder;
    transform: skewX(-25deg);
    text-decoration: underline;
    transition: 0.5s;
}

.navli a:hover{
    color: black;
    /* border-bottom:2px solid white ; */
}
.navli:hover{
    /* transform: scale(1.2); */
    box-shadow: 4px 4px 5px rgb(101, 100, 100);
    background-color: #ed7186;
}





/* ------------top body------------- */

.top-body{
    background-color: rgb(213, 108, 108);
    display: flex;
    width: 60%;
    align-items: center;
    padding: 3% 0;
    margin: 2% 0 0 13%;
    border-radius: 2%;
}
.top-text{
    width: 60%;
    /* margin-right: 20%; */
    text-align: center;
    position: relative;
}
.big{
    margin: 0;
    font-size: 25vw;
    color: white;
    font-family: 'Secular One', sans-serif;
    margin-left: 5%;
}
.intro{
    margin: 0;
    color: white;
    background-color: black;
    width: 80%;
    margin: auto;
    padding: 2%;
    position: absolute;
    bottom: 15%;
    left: 10%;
    font-size: 3vw;
    font-family: 'Rubik Vinyl', cursive;
    border-radius: 15px;
}
.about{
    background-color: white;
    color: rgb(109, 108, 108);
    width: 60%;
    margin: auto;
    font-size: 1.3vw;
    position: relative;
    bottom: 2vh;
    border-radius: 8px;
    padding: 1% 0;
    font-family: 'Montserrat', sans-serif;
}
hr{
    width: 50%;
    height: 1.5px;
    border: 1px solid white;
    position: relative;
    bottom: 4vh;
}
.pen{
    position: absolute;
    width: 50%;
    left: 80%;
    bottom: 0%;
    transform: rotate(15deg);
    opacity: 0.8;
}
.pen img{
    width: 100%;
}
.myimg{
    position: relative;
    left: 40%;
    width: 100%;
    display: block;
}
.top-image{
    width: 60%;
}



